body {
background-color:black;
}
h1 {
color:red;
background-color:black;
border:5px solid white;
font-family:verdana;
text-align:center;
position:sticky;
top:0;
}
h2 {
color:white;
margin:0px;
font-size:20px;
font-family:verdana;
text-align:left;
}
h5 {
color:white;
margin:0px;
font-size:10px;
font-family:verdana;
text-align:center;
}
h6 {
color:red;
margin:0px;
font-size:20px;
font-family:verdana;
text-align:center;
text-decoration:underline;
}
p {
color:white;
text-align:left;
font-family:verdana;
}
a:link {
text-decoration:none;
color:red;
}
a:visited, a:hover {
text-decoration:none;
color:white;
}
a:active {
text-decoration:none;
color:red;
}
.button {
background-color:black;
border:2px solid white;
color:red;
padding:15px 30px;
text-align:center;
text-decoration:none;
display:inline-block;
font-family:verdana;
font-size:15px;
transition-duration:0.5s;
font-weight:bold;
}
.button:hover {
background-color:white;
color:red;
}
.button:active {
background-color:black;
color:white;
box-shadow:0 5px #665;
transform:translateY(4px);
}
.button2 {
background-color:black;
border:2px solid white;
color:red;
text-align:center;
text-decoration:none;
display:inline-block;
font-family:verdana;
font-size:15px;
transition-duration:0.5s;
font-weight:bold;
position:relative;
left:41%;
}
.button2:hover {
background-color:white;
color:red;
}
.button2:active {
background-color:black;
color:white;
box-shadow:0 5px #665;
transform:translateY(4px);
}